# Node modules
node_modules/

# Logs
logs/
*.log

# Build output
dist/
dist-ssr/

# Local env files
*.local

# Editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ne PAS ignorer le dossier routes/ ni les fichiers JS du backend
!routes/
!../routes/
!../*.js
